*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Space Mono';
    background: hsl(185, 41%, 84%);
}
h3{
    color: hsl(183, 100%, 15%);
    text-align: center;
    margin: 50px auto 20px;
}
.container{
    background:  hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px 40px;
    width: 675px;
}
label{
    color: hsl(183, 100%, 15%);
}
input.form-control:focus{
    box-shadow: none !important;
    background-color: hsl(189, 41%, 97%);
    border: 2px solid hsl(172, 67%, 45%);
}
#error_msg{
    color: #ff5252;
    float: right;
}
.percentage, .custom{
    padding: 5px;
    margin: 5px 5px 5px 0;
    border: none;
    border-radius: 4px;
    width: 75px;
}
.percentage{
    background: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
}
.percentage:focus{
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}
.custom{
    background: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    text-align: center;
}
.custom:focus{
    text-align: right;
}
.tip-btn{
    display: flex;
    flex-wrap: wrap;
}
.form-group{
    margin: 10px auto;
}
.bill, .people{
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    text-align: right;
    background-origin: content-box, padding-box;
    background-color: hsl(189, 41%, 97%);
}
.bill{
    background-image: url('../images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
.people{
    background-image: url('../images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
.title{
    color: hsl(186, 14%, 43%);
}
.right-col{
    background: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px 40px 0;
}
.price-row{
    margin-bottom: 10px;
}
.price-output{
    color: hsl(172, 67%, 45%);
    font-size: 24px;
    font-weight: 700;
}
.per-person{
    color: hsl(184, 14%, 56%);
}
.reset-btn{
    background: hsl(172, 67%, 45%);
    margin-top: 20px;
    margin-bottom: 10px;
}
.reset-btn:focus{
    box-shadow: none !important;
    background: hsl(172, 67%, 45%);
}

 @media (min-width: 576px) and (max-width: 767px){
     .container{
         width: 100%;
     }
    .right-col{
        padding: 20px;
    }
    .price-output{
        width: 33.33%;
    }
    .price-tag{
        width: 66.67%;
    }
 }

 @media (min-width: 376px) and (max-width: 576px){
    .container{
        width: 100%;
    }
    .percentage, .custom{
        padding: 5px;
        margin: 5px 10px 5px 0;
        border: none;
        border-radius: 4px;
        width: 100px;
    }
    .right-col{
        padding: 20px 10px;
    }
    .price-row{
        margin-bottom: 10px;
    }
    .price-output{
        font-size: 22px;
        width: 33.33%;
    }
    .price-tag{
        width: 66.67%;
    }
    .amt, .per-person{
        font-size: 12px;
    }
 }

 @media (max-width: 375px) {
    .container{
        width: 100%;
    }
    .percentage, .custom{
        padding: 5px;
        margin: 5px 10px 5px 0;
        border: none;
        border-radius: 4px;
        width: 100px;
    }
    .right-col{
        padding: 20px 10px;
    }
    .price-row{
        margin-bottom: 10px;
    }
    .price-output{
        font-size: 22px;
        width: 33.33%;
    }
    .price-tag{
        width: 66.67%;
    }
    .amt, .per-person{
        font-size: 12px;
    }

 }